body{
    width:100%;
    margin: auto;
    color: #000000;
    background-color: #ffa500;
    background-color: #ff00c8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
::-webkit-scrollbar {     
    background-color: #fff;
    width: 0.045910em;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
    background:  #ff00c8
}

#body{
    /* width:99.25%;
    background-color: #ffff;
    margin: 0.5px auto;
    min-height: 68.5vh;
    border-radius: 3px; */
    width: 99.7325%;
    background-color: #ffff;
    margin: 0.5px auto;
    min-height: 45.25vh;
    border-radius: 3px;
}

header{
    border:none;
    border-bottom:1px solid #f1eded;
    width: 98%;
    margin: auto;
    padding-bottom: 5px;
 }

#title{
  display:block;

}
#title span{
 color: #008000;
 font-size: 20px;
}
#quoteTitle{
  display:block;
  color: #ffa500;
  letter-spacing: 0.25px;
  font-size: 25px;
}


#sections{
    width: 98%;
    margin: auto;
}

section#body{
    color: #000000;
    padding: 0 2px;
}

#body .blur{
    color: #c1c1c1;
}

#quoteText{
    line-height: 1.55;
    font-size: 17.25px;
    letter-spacing: 0.975px;
    white-space: normal;
}

#quoteText p{
 margin: 0;
}

span#errorT{
    color: #c1c1c1;
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 1.5px;
}

span#error{
    color: #ffa500;
    text-align: center;
    display: block;
    letter-spacing: 2.5px;
    text-transform: capitalize;
    font-size: 14px;
    border-bottom: 0.251px solid #e2e0e0;
    padding: 15px 0;
}

section#footer{
    border-top:1px solid #e3e1e0;
    min-height: 21.0vh;
}

.footer{
    width: 99%;
    margin: 0 auto;
    padding: 5px 0;
}

.newQuotebtn{
    width: 5.65em;
    height: 2.25em;
    padding: 0px 1px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 2px;
    outline: none;
    box-shadow: none;
    -webkit-app-region: no-drag;
}

.newQuotebtn:hover{
    border: 1px solid #e2e0e0;
    background-color: #e2e0e0;
}


.newQuotebtn img.icon{
    position: relative;
    top: 3px;
    left: 0px;
    width: 17px;
    height: 17px;
    transition: all 0.4s ease-in-out;
}
.newQuotebtn span#text{
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #ff00c8;
    font-weight: 700;
    line-height: 26px;
}

.newQuotebtn:hover .icon {
    transform: rotate(360deg) scale(1.2);
}

#close,#close{
    display:flex;
    width: 98%;
    margin: auto;
    flex-direction: row-reverse;

}

#close div#closeBtn,#close div#minBtn{
    width: 5%;
    text-align: center;
    float: right;
    font-size: 30px;
    line-height: 0.685;
    font-weight: 500;
    cursor: pointer;
    color: #c1c1c1;    
}
#close div#closeBtn:hover,#close div#minBtn:hover{
    color:#ffa500;  
    background-color: #f3f3f3;
    /* font-size: 35px; */
    /* transition:linear 0.52s;  */
}
 #close div#closeBtn:before{
    content: "\00d7";
    font-family: Arial, sans-serif;   
    vertical-align: middle; 
  } 
  #close div#minBtn:before{
    content: "\002D";
    font-family: Arial, sans-serif;    
  } 